*
{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #444;

    margin: 0 auto;


    --songs-size: min(4dvw,16px);
    --songs-margin: min(3dvw,20px);

    --songs-size-wide: min(1.8dvw, 17px);
    --songs-margin-wide: 10px;
}

colors
{
    color: #fff;
}

/*---SIDEBAR---*/


.sidebar 
{
    height: 100vh;
    width: fit-content;

    background-color: #788e;

    font-size: min(10dvw,20px);
    text-align: center;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;

    transition: background-color 1s ease;
}


.sidebar__form-open 
{
    position: fixed; /* Cambia a fixed para que siempre esté visible */
    z-index: 200; /* Asegura que esté por encima del sidebar */
    top: 5px;
    left: 10px;
    color: #fff5;
    font-size: clamp(25px, 6dvw, 40px);
    

    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    user-select: none;
    transition: color 1s ease;

}


.sidebar__nav
{
    width: 100dvw;
    height: 100dvh;
    display: grid;
    place-items: center;
}


input[type="checkbox"]:checked ~ .sidebar__nav
{
    display: grid;
}

input[type="checkbox"]:not(:checked) ~ .sidebar__nav
{
    display: none;
}

input[type="checkbox"]:checked ~ body 
{
    filter: blur(5px);
}


.sidebar__nav ul
{
    width: 80dvw;
    font-size: min(20px, 5dvw);
    font-weight: bolder;

    display: grid;
    place-content: center;
    grid-auto-rows: 1fr;
    gap: 20px;
}

.sidebar__nav a
{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;  

    background: rgba(255, 255, 255, 0.2);
    background-size: cover;
    background-image: linear-gradient(#0005,#0005);
    box-shadow: 0px 0px 130px -20px rgba(0,0,0,1) inset;    
    padding: 10px;

    text-decoration: none;
}

.sidebar__nav a:hover 
{
    grid-row: span 3;

    color: transparent!important;
    backdrop-filter: none;
    box-shadow: none;

}


.sidebar input[type="checkbox"] 
{
    display: none;
}


/*---MAIN---*/

main
{
    margin: 0 auto;
}

.profile
{
    margin: 0 auto;
    max-width: 80dvw;

    padding: min(2dvw,30px) 0;
    background-color: #cb2323;

    display: grid;
    place-items: center;
}

h1
{
    margin-bottom: min(2dvw,30px);

    text-align: center;
    font-size: min(10dvw,50px);
}

main p
{
    width: 80%;
    height: auto;

    font-size: min(2.5dvw, 20px);
    text-align: center;
}




/*---SECTIONS---*/

section
{
    container-name: section;
    container-type: inline-size;
}

h2
{
    text-align: center;
}

h3
{
    opacity: 0.8;
}


.wrapper
{
    background-color: inherit;
    color: inherit;

    margin: min(100dvw,200px) auto;
    padding: min(10dvw,50px) min(2dvw,10px);
    width: 80dvw;

    display: grid;
    grid-template-rows: repeat(3, fit-content);
    grid-template-columns: 1fr;
    place-items: center;

    border: min(2vw,8px) solid transparent;
    border-color: inherit;

}


.img-container
{
    grid-row: 1;

    /* border: 5px solid #411115; */

}
.img
{  

    width: 60dvw;
    height: auto;

    object-fit: cover;
    object-position: center;
    overflow: visible;
}


.title-container
{
    grid-row: 2;

    margin-top: min(5dvw,20px);
    margin-bottom: min(10dvw,40px);

    font-size: min(5dvw,25px);
    text-align: center;
}


.songs-container
{
    grid-row: 3;

    font-size: var(--songs-size);
}
.songlist
{
/*     padding: 0; */ /* no centra los numeros */
    padding: 0;
    list-style: decimal-leading-zero;
}
.song
{
    margin-bottom: var(--songs-margin) ;
}


/*---SECTIONS QUERIES---*/

@media (min-width: 800px)
{     
    .sidebar__nav
    {
        width: 30dvw;
    }
    .sidebar ul
    {
        width: 100%;
        height: 90%;
        font-size: min(20px,2.5dvw);
        /* overflow-y:scroll;
 */        
    }

    .sidebar a
    {
        padding: 10px 0;
    }

    input[type="checkbox"]:checked ~ .sidebar__nav
    {
        box-shadow: 10px 0px 50px 0px rgba(0,0,0,1); 
    }


}
@media (min-width: 600px)
{
    .wrapper
    {
/*         max-width: 1000px;
        max-height: 80dvh;
        min-height: 600px; */
    
        max-width: 1000px;

        min-height: 500px;
        height: 70dvh;


        padding: min(5dvw,30px) 0;


        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, min-content);
        align-items: start;
        justify-items: center;
        align-content: center;

    }

    .img-container
    {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .img
    {  
        width: min(44dvw, 400px);
    }


    .title-container
    {
        grid-row: 2;
        grid-column: 1/3;

        margin-bottom: 0;
        font-size: min(3vw, 23px);

    }

    .songs-container
    {
        grid-column: 3;
        grid-row: span 2;

        /* margin-left: 30px; */

        font-size: var(--songs-size-wide);
    }

    .song
    {
        margin-bottom: var(--songs-margin-wide) ;
    }

}


/*---SECTIONS ENDS---*/


/*---TCD---*/

colors.tcd
{
    background-color: #5c1111;
    color: #feb61d;
    border-color: #feb61d;

}


@container section (min-width:600px)
{
    .tcd .songlist
    {
        font-size: min(1.8dvw, 14px);
    }
}




/*---LATE---*/


colors.late
{
    background-color: #000000;
    color: #c3ab06;
    border-color: #c3ab06;
}

.late  .img
{
/*     box-shadow: -30px 100px 70px -80px #7596a2;
 */}

.late  .songlist
{
    color: #fff7ef;
}

.late  .title-container h3
{
    color: #fff7ef;
    opacity: 0.9;
}

@container section (min-width:600px)
{
    .late .songlist
    {
        font-size: min(1.8dvw, 15px);
    }
}



/*---GRADUATION---*/

colors.graduation
{
    background: #522f81;
    color: #ec008b;
    border-color: #bb168e;
}


.graduation .wrapper
{
    background: linear-gradient(190deg, #522f81 50%, #9b3e6b 91%, #dd9065 100%);
    text-shadow: 2px 2px #243840;
}

.graduation  .songlist
{
    color: #e33058;
    filter: drop-shadow(0px 0px 6px #bb168e);
}

.graduation  .img
{
/*     border: 3px solid #bb168e; */
    box-shadow: 0px 0px 30px 10px #bb168e;
    animation: graduation-animation 3s infinite alternate;

}

@container section (min-width:600px)
{

    .graduation  .wrapper
    {
        background: linear-gradient(185deg, #522f81 20%, #9b3e6b 70%, #dd9065 100%);
    }
}

@keyframes graduation-animation
{
    from
    {
        box-shadow: 0px 0px 20px 10px #bb168e;
    }

    to
    {
        box-shadow: 0px 0px 50px 20px #bb168e;
    }
}


/*---808s AND HEARTBREAK---*/

colors.heartbreak
{
    color: #808c8e;
    background: #d4dbdb;
}

.heartbreak .wrapper
{
    background: #d4dbdb;
    border:  none;
    border-left: min(4vw,15px) solid transparent;
    border-image:   linear-gradient(to bottom,#992373 9.09%, #2f396f 9.09%, #2f396f 18.18%, #eee02f 18.18%, #eee02f 27.27%, #9ec6c4 27.27%,#9ec6c4 36.36%, #279cce 36.36%, #279cce 45.45%, #0d9c85 45.45%, #0d9c85 54.54%, #f4bdcf 54.54%, #f4bdcf 63.63%, #cdd656 63.63%, #cdd656 72.72%, #c27ea7 72.72%, #c27ea7 81.81%, #be316e 81.81%, #be316e 90.90%, #402870 90.90%) 1;

    color: #f4fafa;
    text-shadow: 1px 1px  #808c8e;
}

.heartbreak h3 ,.heartbreak  li::marker

{
    color: #808c8e;
    text-shadow: none;
}

.heartbreak span
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*---DARK FANTASY---*/


colors.fantasy
{
    background: #cc1d33;
    color: #fabc2f;
    border-color: #fabc2f;
}

.fantasy .wrapper
{
    background-image: url(fantasy-back.jpg);
    background-size: cover;
}

.fantasy .title-container
{
    text-wrap: balance;
}


.fantasy .songlist span
{
    color: #fabc2f77;
    text-shadow: 0px 8px #fabc2fff;


    /* animation: f-animation 3s 2s;
    animation-fill-mode: both;
 */

}

.fantasy .img-container
{
    position: relative;

}

.fantasy .img
{
    z-index: 20;
}

.fantasy .img2
{
    position: absolute;
    top: 0;
    display: grid;
    place-content: center;
    z-index: -20;
}

.fantasy .img , .fantasy .img-2
{
    transition: z-index 0.7s;
}

.fantasy .img-container:hover .img
{
    z-index: -20;
}


.fantasy .img-container:hover  .img2
{
    z-index: 20;
}






@keyframes f-animation
{
    from
    {
        text-shadow: 0px 0px #fabc2fff;
    }

    to
    {
        text-shadow: 0px 8px #fabc2fff;
    }
}


/*---YEEZUS---*/

colors.yeezus
{
    background-color: #d8dee0;
    color: #ff0100;
    border-color: #ff0100;
}

.yeezus .wrapper
{
    color: #272830;

    animation: yeezus-animation 10s linear infinite;
}



.yeezus .img
{
    box-shadow: 0px 0px 9px #000000;

}

.yeezus .title-img-container
{
    height: 12dvw;
}

.yeezus .title-container img
{
    width: 44dvw;
    max-width: 400px;

    object-fit: cover;
    object-position: center;
    overflow: visible;

}

.yeezus .songlist 
{

/*     text-shadow: 1px 2px #fff;
 */

}

.yeezus  li::marker
{
    color: #ff0100;
    text-shadow: none;
}



@keyframes yeezus-animation 
{
    0% { 
        color: #272830;
        background-color: #d8dee0;
        animation-timing-function: cubic-bezier(.88,.18,1,.54); 
    }
    50% { 
        color: #d8dee0;
        background-color: #272830;
        animation-timing-function: cubic-bezier(.88,.18,1,.54); 
    }
    100% { 
        color: #272830;
        background-color: #d8dee0;
    }
}

@container section (min-width:600px)
{
    .yeezus .title-img-container
    {
        max-height: 110px;
    }
    .yeezus .title-container img
    {
    }
}
    

/*---PABLO---*/

colors.pablo
{
    background-color: #f58c59;
    color: black;
    border-color: #f58c59;
}


.pablo .wrapper
{
    background-image: url(pablotext.jpg), url(pablotext.jpg), url(pablotext2.jpg),url(pablotext2.jpg);
    background-size:initial;
    background-position:top, bottom, left, right;

    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    border: none;

    
}

.pablo .img-container
{
    border: 1px solid #030001;
}

@container section (min-width:600px)
{
    .pablo .songlist
    {
        font-size: min(1.6dvw, 15px);
    }
}

.pablo  li::marker
{
    font-weight: bolder;
}


/*---YE---*/

colors.ye
{
    background-color: #132331;
    color: #34d564;
    border-color: #34d564;
}

.ye .wrapper
{
    background: rgb(143,168,198);
    background: linear-gradient(176deg, rgba(143,168,198,1) 0%, #163049 40%, #09161e 100%);

}








